* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    position: relative;
    display: flex;
    box-shadow: 0 5px 5px lightgrey;
}

header nav ul:last-child {
    display: none;
}

header nav ul li ,header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

main a {
    text-decoration: none;
    color: black;
}
main nav {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

main span {
    color: gray;
}


h2 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-top: 80px;
}

.hero {
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

.hero span {
    display: none;
}

.hero p {
    background-color: black;
    opacity: 0.9;
    color: white;
    font-size: 40px;
    mix-blend-mode: multiply;
    padding: 10px;
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    width: 370px;
}
.image1 {
    background-image: url(https://images.adsttc.com/media/images/62e1/f282/f9ad/2a01/655e/c6d5/large_jpg/summer-house-ginneruparkitekter_14.jpg?1658975375);
}

.image2 {
    background-image: url(https://thumbs.dreamstime.com/b/two-story-brick-house-traditional-shutters-44086070.jpg);
}

.image3 {
    background-image: url(https://www.thinkwood.com/wp-content/uploads/2021/09/SHED_Black-Sheep-Remodel_13-1-scaled.jpg);
}

.image4 {
    background-image: url(https://archello.s3.eu-central-1.amazonaws.com/images/2019/11/04/17-Villa-Bruchem-Ossip.1572862034.823.jpg);
}

.image1,
.image2,
.image3,
.image4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 400px;
    height: 30vh;
    margin-bottom: 10px;
}

.background p {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 0;
}

.portrait img {
    max-height: 280px;
    height: 60vh;
    width: 370px;
    
}
.input-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    width: 40%;
    margin-bottom: 25px;
}

iframe {
    width: 370px;
    height: 350px;
    border: none;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (min-width: 1200px) {
    
}

